
@{
    Layout = null;
}
<div style="background-color: red; width: 400px; height: 300px;">
    <button class="btn btn-primary" id="BtnClose">关闭</button>
    <button class="btn btn-success" id="BtnSuccess">成功</button>
</div>
<script type="text/javascript" src="~/Scripts/Module/Test/Modal.js"></script>
