@{ Layout = null;}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <button id="BtnAlert" class="btn btn-primary">信息框</button>
            <button id="BtnConfirm" class="btn btn-primary">询问框</button>
            <button id="BtnMessage" class="btn btn-primary">消息框 Message，可自动关闭</button>
            <button id="BtnPopup" class="btn btn-primary">弹出提示框 Popup</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input id="TxtSearchStartTime" class="form-control zk-txt-datetimepicker zk-txt-datetimepicker-date" type="text" />
                        <div class="input-group-append">
                            <span class="input-group-text">至</span>
                        </div>
                        <input id="TxtSearchEndTime" class="form-control zk-txt-datetimepicker" type="text" />
                    </div>
                    <button id="BtnSearch" class="btn btn-primary" type="button" style="margin-left: 8px;"><span class="zk-text">查询</span></button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <select class="form-control" id="CityId">
                            <option value="">全部城市</option>
                            <option value="44">a-鞍山</option>
                            <option value="66">a-安阳</option>
                            <option value="67">a-安庆</option>
                            <option value="68">a-安康</option>
                            <option value="75">a-安顺</option>
                            <option value="3">b-北京</option>
                            <option value="76">b-保定</option>
                            <option value="77">b-包头</option>
                            <option value="78">b-滨州</option>
                            <option value="79">b-宝鸡</option>
                            <option value="80">b-蚌埠</option>
                            <option value="81">b-本溪</option>
                            <option value="82">b-白城</option>
                            <option value="83">b-亳州</option>
                            <option value="84">b-保山</option>
                            <option value="87">b-巴中</option>
                            <option value="89">b-白山</option>
                            <option value="90">b-白银</option>
                            <option value="91">b-百色</option>
                            <option value="92">b-北海</option>
                            <option value="93">b-毕节</option>
                            <option value="395">b-璧山</option>
                            <option value="1">c-重庆</option>
                            <option value="2">c-成都</option>
                            <option value="11">c-长沙</option>
                            <option value="18">c-长春</option>
                            <option value="29">c-常州</option>
                            <option value="61">c-朝阳</option>
                            <option value="94">c-沧州</option>
                            <option value="95">c-常德</option>
                            <option value="96">c-郴州</option>
                            <option value="97">c-赤峰</option>
                            <option value="98">c-承德</option>
                            <option value="99">c-长治</option>
                            <option value="100">c-楚雄</option>
                            <option value="101">c-昌吉</option>
                            <option value="102">c-长葛</option>
                            <option value="104">c-巢湖</option>
                            <option value="105">c-池州</option>
                            <option value="106">c-滁州</option>
                            <option value="107">c-潮州</option>
                            <option value="108">c-崇左</option>
                            <option value="381">c-常熟</option>
                            <option value="397">c-城口</option>
                            <option value="408">c-长寿</option>
                            <option value="430">c-测试</option>
                            <option value="17">d-大连</option>
                            <option value="62">d-东莞</option>
                            <option value="109">d-德州</option>
                            <option value="110">d-东营</option>
                            <option value="111">d-大庆</option>
                            <option value="112">d-丹东</option>
                            <option value="113">d-大同</option>
                            <option value="114">d-大理</option>
                            <option value="115">d-定州</option>
                            <option value="116">d-德阳</option>
                            <option value="117">d-迪庆</option>
                            <option value="118">d-德宏</option>
                            <option value="119">d-达州</option>
                            <option value="120">d-定西</option>
                            <option value="121">d-大兴安岭</option>
                            <option value="122">d-大丰</option>
                            <option value="394">d-大足</option>
                            <option value="399">d-垫江</option>
                            <option value="424">d-都匀</option>
                            <option value="123">e-鄂尔多斯</option>
                            <option value="124">e-恩施</option>
                            <option value="125">e-鄂州</option>
                            <option value="9">f-福州</option>
                            <option value="45">f-佛山</option>
                            <option value="126">f-抚顺</option>
                            <option value="127">f-阜阳</option>
                            <option value="128">f-阜新</option>
                            <option value="129">f-抚州</option>
                            <option value="378">f-涪陵</option>
                            <option value="398">f-丰都</option>
                            <option value="404">f-奉节</option>
                            <option value="7">g-广州</option>
                            <option value="26">g-贵阳</option>
                            <option value="131">g-桂林</option>
                            <option value="132">g-贵港</option>
                            <option value="133">g-固原</option>
                            <option value="134">g-赣州</option>
                            <option value="136">g-广安</option>
                            <option value="137">g-广元</option>
                            <option value="6">h-杭州</option>
                            <option value="8">h-海南</option>
                            <option value="21">h-合肥</option>
                            <option value="33">h-呼和浩特</option>
                            <option value="34">h-哈尔滨</option>
                            <option value="48">h-惠州</option>
                            <option value="64">h-汉中</option>
                            <option value="65">h-淮安</option>
                            <option value="141">h-海口</option>
                            <option value="142">h-衡阳</option>
                            <option value="143">h-邯郸</option>
                            <option value="144">h-湖州</option>
                            <option value="145">h-衡水</option>
                            <option value="146">h-黄石</option>
                            <option value="148">h-菏泽</option>
                            <option value="149">h-怀化</option>
                            <option value="150">h-黄冈</option>
                            <option value="151">h-河池</option>
                            <option value="152">h-哈密</option>
                            <option value="153">h-红河</option>
                            <option value="154">h-鹤岗</option>
                            <option value="155">h-鹤壁</option>
                            <option value="156">h-淮北</option>
                            <option value="157">h-黄山</option>
                            <option value="158">h-和田</option>
                            <option value="159">h-黄南</option>
                            <option value="160">h-海西</option>
                            <option value="161">h-海东</option>
                            <option value="162">h-海北</option>
                            <option value="163">h-呼伦贝尔</option>
                            <option value="165">h-河源</option>
                            <option value="166">h-贺州</option>
                            <option value="167">h-黑河</option>
                            <option value="169">h-霍邱</option>
                            <option value="410">h-合川</option>
                            <option value="421">h-淮南</option>
                            <option value="32">j-济南</option>
                            <option value="46">j-嘉兴</option>
                            <option value="47">j-济宁</option>
                            <option value="49">j-金华</option>
                            <option value="170">j-江门</option>
                            <option value="171">j-吉林</option>
                            <option value="172">j-揭阳</option>
                            <option value="173">j-九江</option>
                            <option value="174">j-焦作</option>
                            <option value="175">j-晋城</option>
                            <option value="176">j-荆州</option>
                            <option value="177">j-佳木斯</option>
                            <option value="178">j-鸡西</option>
                            <option value="179">j-吉安</option>
                            <option value="181">j-晋中</option>
                            <option value="182">j-锦州</option>
                            <option value="183">j-景德镇</option>
                            <option value="184">j-荆门</option>
                            <option value="185">j-嘉峪关</option>
                            <option value="186">j-酒泉</option>
                            <option value="187">j-济源</option>
                            <option value="409">j-江津</option>
                            <option value="24">k-昆明</option>
                            <option value="36">k-昆山</option>
                            <option value="188">k-克拉玛依</option>
                            <option value="189">k-库尔勒</option>
                            <option value="190">k-开封</option>
                            <option value="402">k-开县</option>
                            <option value="422">k-凯里</option>
                            <option value="25">l-兰州</option>
                            <option value="50">l-洛阳</option>
                            <option value="51">l-柳州</option>
                            <option value="56">l-廊坊</option>
                            <option value="60">l-连云港</option>
                            <option value="193">l-临沂</option>
                            <option value="194">l-聊城</option>
                            <option value="195">l-吕梁</option>
                            <option value="196">l-乐山</option>
                            <option value="197">l-辽阳</option>
                            <option value="198">l-辽源</option>
                            <option value="199">l-拉萨</option>
                            <option value="200">l-临汾</option>
                            <option value="201">l-龙岩</option>
                            <option value="202">l-临夏</option>
                            <option value="203">l-漯河</option>
                            <option value="204">l-泸州</option>
                            <option value="205">l-丽水</option>
                            <option value="206">l-丽江</option>
                            <option value="207">l-六安</option>
                            <option value="208">l-莱芜</option>
                            <option value="209">l-临沧</option>
                            <option value="210">l-林芝</option>
                            <option value="211">l-凉山</option>
                            <option value="212">l-娄底</option>
                            <option value="213">l-陇南</option>
                            <option value="214">l-来宾</option>
                            <option value="215">l-六盘水</option>
                            <option value="396">l-梁平</option>
                            <option value="419">l-利川</option>
                            <option value="39">m-绵阳</option>
                            <option value="216">m-茂名</option>
                            <option value="217">m-马鞍山</option>
                            <option value="218">m-牡丹江</option>
                            <option value="219">m-明港</option>
                            <option value="220">m-梅州</option>
                            <option value="221">m-眉山</option>
                            <option value="420">m-麻城</option>
                            <option value="15">n-南京</option>
                            <option value="20">n-宁波</option>
                            <option value="23">n-南昌</option>
                            <option value="28">n-南宁</option>
                            <option value="38">n-南充</option>
                            <option value="41">n-南通</option>
                            <option value="58">n-南阳</option>
                            <option value="222">n-内江</option>
                            <option value="223">n-宁德</option>
                            <option value="224">n-怒江</option>
                            <option value="225">n-那曲</option>
                            <option value="226">n-南平</option>
                            <option value="412">n-南川</option>
                            <option value="227">p-平顶山</option>
                            <option value="228">p-盘锦</option>
                            <option value="229">p-萍乡</option>
                            <option value="230">p-平凉</option>
                            <option value="231">p-濮阳</option>
                            <option value="232">p-攀枝花</option>
                            <option value="233">p-莆田</option>
                            <option value="234">p-普洱</option>
                            <option value="416">p-彭水</option>
                            <option value="35">q-青岛</option>
                            <option value="52">q-泉州</option>
                            <option value="235">q-秦皇岛</option>
                            <option value="236">q-齐齐哈尔</option>
                            <option value="237">q-衢州</option>
                            <option value="238">q-清远</option>
                            <option value="239">q-钦州</option>
                            <option value="240">q-曲靖</option>
                            <option value="242">q-庆阳</option>
                            <option value="243">q-黔南</option>
                            <option value="245">q-七台河</option>
                            <option value="246">q-潜江</option>
                            <option value="391">q-綦江</option>
                            <option value="407">q-黔江</option>
                            <option value="248">r-日照</option>
                            <option value="390">r-荣昌</option>
                            <option value="417">r-仁寿</option>
                            <option value="4">s-上海</option>
                            <option value="5">s-苏州</option>
                            <option value="16">s-沈阳</option>
                            <option value="19">s-石家庄</option>
                            <option value="30">s-深圳</option>
                            <option value="59">s-商丘</option>
                            <option value="250">s-汕头</option>
                            <option value="251">s-宿州</option>
                            <option value="252">s-绍兴</option>
                            <option value="253">s-十堰</option>
                            <option value="254">s-三明</option>
                            <option value="255">s-韶关</option>
                            <option value="256">s-沭阳</option>
                            <option value="257">s-宿迁</option>
                            <option value="259">s-邵阳</option>
                            <option value="260">s-三亚</option>
                            <option value="261">s-顺德</option>
                            <option value="262">s-松原</option>
                            <option value="263">s-三门峡</option>
                            <option value="264">s-汕尾</option>
                            <option value="265">s-随州</option>
                            <option value="266">s-石河子</option>
                            <option value="267">s-山南</option>
                            <option value="268">s-遂宁</option>
                            <option value="269">s-商洛</option>
                            <option value="270">s-朔州</option>
                            <option value="272">s-上饶</option>
                            <option value="273">s-四平</option>
                            <option value="413">s-石柱</option>
                            <option value="13">t-天津</option>
                            <option value="31">t-唐山</option>
                            <option value="43">t-太原</option>
                            <option value="63">t-台州</option>
                            <option value="276">t-泰安</option>
                            <option value="277">t-泰州</option>
                            <option value="279">t-铁岭</option>
                            <option value="280">t-天水</option>
                            <option value="281">t-吐鲁番</option>
                            <option value="283">t-铜川</option>
                            <option value="284">t-通辽</option>
                            <option value="285">t-通化</option>
                            <option value="286">t-铜陵</option>
                            <option value="287">t-铜仁</option>
                            <option value="288">t-天门</option>
                            <option value="289">t-台山</option>
                            <option value="290">t-桐城</option>
                            <option value="392">t-潼南</option>
                            <option value="393">t-铜梁</option>
                            <option value="10">w-武汉</option>
                            <option value="27">w-无锡</option>
                            <option value="37">w-乌鲁木齐</option>
                            <option value="53">w-潍坊</option>
                            <option value="54">w-温州</option>
                            <option value="291">w-威海</option>
                            <option value="292">w-芜湖</option>
                            <option value="293">w-梧州</option>
                            <option value="295">w-渭南</option>
                            <option value="296">w-文山</option>
                            <option value="297">w-乌海</option>
                            <option value="298">w-五家渠</option>
                            <option value="299">w-吴忠</option>
                            <option value="300">w-乌兰察布</option>
                            <option value="301">w-武威</option>
                            <option value="302">w-五指山</option>
                            <option value="303">w-武夷山</option>
                            <option value="377">w-万州</option>
                            <option value="400">w-武隆</option>
                            <option value="405">w-巫山</option>
                            <option value="406">w-巫溪</option>
                            <option value="418">w-温江</option>
                            <option value="12">x-厦门</option>
                            <option value="14">x-西安</option>
                            <option value="57">x-新乡</option>
                            <option value="304">x-徐州</option>
                            <option value="305">x-湘潭</option>
                            <option value="307">x-邢台</option>
                            <option value="308">x-孝感</option>
                            <option value="309">x-西宁</option>
                            <option value="310">x-许昌</option>
                            <option value="312">x-忻州</option>
                            <option value="313">x-宣城</option>
                            <option value="314">x-西双版纳</option>
                            <option value="316">x-咸阳</option>
                            <option value="317">x-信阳</option>
                            <option value="319">x-新余</option>
                            <option value="320">x-湘西</option>
                            <option value="321">x-仙桃</option>
                            <option value="322">x-咸宁</option>
                            <option value="376">x-襄阳</option>
                            <option value="414">x-秀山</option>
                            <option value="423">x-新干县</option>
                            <option value="42">y-扬州</option>
                            <option value="55">y-烟台</option>
                            <option value="323">y-延安</option>
                            <option value="324">y-宜昌</option>
                            <option value="325">y-盐城</option>
                            <option value="326">y-岳阳</option>
                            <option value="327">y-银川</option>
                            <option value="328">y-延边</option>
                            <option value="329">y-鹰潭</option>
                            <option value="330">y-玉溪</option>
                            <option value="331">y-运城</option>
                            <option value="332">y-宜春</option>
                            <option value="333">y-营口</option>
                            <option value="334">y-榆林</option>
                            <option value="335">y-宜宾</option>
                            <option value="336">y-永州</option>
                            <option value="337">y-阳江</option>
                            <option value="338">y-阳春</option>
                            <option value="339">y-阳泉</option>
                            <option value="340">y-禹州</option>
                            <option value="341">y-鄢陵</option>
                            <option value="342">y-玉林</option>
                            <option value="343">y-伊犁</option>
                            <option value="344">y-雅安</option>
                            <option value="346">y-益阳</option>
                            <option value="347">y-云浮</option>
                            <option value="348">y-伊春</option>
                            <option value="350">y-义乌</option>
                            <option value="403">y-云阳</option>
                            <option value="411">y-永川</option>
                            <option value="415">y-酉阳</option>
                            <option value="22">z-郑州</option>
                            <option value="40">z-珠海</option>
                            <option value="351">z-张家口</option>
                            <option value="352">z-中山</option>
                            <option value="353">z-淄博</option>
                            <option value="354">z-株洲</option>
                            <option value="355">z-漳州</option>
                            <option value="356">z-湛江</option>
                            <option value="357">z-肇庆</option>
                            <option value="358">z-枣庄</option>
                            <option value="359">z-镇江</option>
                            <option value="360">z-周口</option>
                            <option value="363">z-自贡</option>
                            <option value="364">z-张家界</option>
                            <option value="365">z-资阳</option>
                            <option value="366">z-遵义</option>
                            <option value="367">z-舟山</option>
                            <option value="368">z-章丘</option>
                            <option value="369">z-赵县</option>
                            <option value="370">z-诸城</option>
                            <option value="371">z-昭通</option>
                            <option value="372">z-中卫</option>
                            <option value="373">z-张掖</option>
                            <option value="374">z-张北</option>
                            <option value="375">z-庄河</option>
                            <option value="379">z-张家港</option>
                            <option value="380">z-驻马店</option>
                            <option value="401">z-忠县</option>

                        </select>
                        <select class="form-control" id="CityId1" data-placeholder="选择多个城市" multiple>
                            <option value="">全部城市</option>
                            <option value="44">a-鞍山</option>
                            <option value="66">a-安阳</option>
                            <option value="67">a-安庆</option>
                            <option value="68">a-安康</option>
                            <option value="75">a-安顺</option>
                            <option value="3">b-北京</option>
                            <option value="76">b-保定</option>
                            <option value="77">b-包头</option>
                            <option value="78">b-滨州</option>
                            <option value="79">b-宝鸡</option>
                            <option value="80">b-蚌埠</option>
                            <option value="81">b-本溪</option>
                            <option value="82">b-白城</option>
                            <option value="83">b-亳州</option>
                            <option value="84">b-保山</option>
                            <option value="87">b-巴中</option>
                            <option value="89">b-白山</option>
                            <option value="90">b-白银</option>
                            <option value="91">b-百色</option>
                            <option value="92">b-北海</option>
                            <option value="93">b-毕节</option>
                            <option value="395">b-璧山</option>
                            <option value="1">c-重庆</option>
                            <option value="2">c-成都</option>
                            <option value="11">c-长沙</option>
                            <option value="18">c-长春</option>
                            <option value="29">c-常州</option>
                            <option value="61">c-朝阳</option>
                            <option value="94">c-沧州</option>
                            <option value="95">c-常德</option>
                            <option value="96">c-郴州</option>
                            <option value="97">c-赤峰</option>
                            <option value="98">c-承德</option>
                            <option value="99">c-长治</option>
                            <option value="100">c-楚雄</option>
                            <option value="101">c-昌吉</option>
                            <option value="102">c-长葛</option>
                            <option value="104">c-巢湖</option>
                            <option value="105">c-池州</option>
                            <option value="106">c-滁州</option>
                            <option value="107">c-潮州</option>
                            <option value="108">c-崇左</option>
                            <option value="381">c-常熟</option>
                            <option value="397">c-城口</option>
                            <option value="408">c-长寿</option>
                            <option value="430">c-测试</option>
                            <option value="17">d-大连</option>
                            <option value="62">d-东莞</option>
                            <option value="109">d-德州</option>
                            <option value="110">d-东营</option>
                            <option value="111">d-大庆</option>
                            <option value="112">d-丹东</option>
                            <option value="113">d-大同</option>
                            <option value="114">d-大理</option>
                            <option value="115">d-定州</option>
                            <option value="116">d-德阳</option>
                            <option value="117">d-迪庆</option>
                            <option value="118">d-德宏</option>
                            <option value="119">d-达州</option>
                            <option value="120">d-定西</option>
                            <option value="121">d-大兴安岭</option>
                            <option value="122">d-大丰</option>
                            <option value="394">d-大足</option>
                            <option value="399">d-垫江</option>
                            <option value="424">d-都匀</option>
                            <option value="123">e-鄂尔多斯</option>
                            <option value="124">e-恩施</option>
                            <option value="125">e-鄂州</option>
                            <option value="9">f-福州</option>
                            <option value="45">f-佛山</option>
                            <option value="126">f-抚顺</option>
                            <option value="127">f-阜阳</option>
                            <option value="128">f-阜新</option>
                            <option value="129">f-抚州</option>
                            <option value="378">f-涪陵</option>
                            <option value="398">f-丰都</option>
                            <option value="404">f-奉节</option>
                            <option value="7">g-广州</option>
                            <option value="26">g-贵阳</option>
                            <option value="131">g-桂林</option>
                            <option value="132">g-贵港</option>
                            <option value="133">g-固原</option>
                            <option value="134">g-赣州</option>
                            <option value="136">g-广安</option>
                            <option value="137">g-广元</option>
                            <option value="6">h-杭州</option>
                            <option value="8">h-海南</option>
                            <option value="21">h-合肥</option>
                            <option value="33">h-呼和浩特</option>
                            <option value="34">h-哈尔滨</option>
                            <option value="48">h-惠州</option>
                            <option value="64">h-汉中</option>
                            <option value="65">h-淮安</option>
                            <option value="141">h-海口</option>
                            <option value="142">h-衡阳</option>
                            <option value="143">h-邯郸</option>
                            <option value="144">h-湖州</option>
                            <option value="145">h-衡水</option>
                            <option value="146">h-黄石</option>
                            <option value="148">h-菏泽</option>
                            <option value="149">h-怀化</option>
                            <option value="150">h-黄冈</option>
                            <option value="151">h-河池</option>
                            <option value="152">h-哈密</option>
                            <option value="153">h-红河</option>
                            <option value="154">h-鹤岗</option>
                            <option value="155">h-鹤壁</option>
                            <option value="156">h-淮北</option>
                            <option value="157">h-黄山</option>
                            <option value="158">h-和田</option>
                            <option value="159">h-黄南</option>
                            <option value="160">h-海西</option>
                            <option value="161">h-海东</option>
                            <option value="162">h-海北</option>
                            <option value="163">h-呼伦贝尔</option>
                            <option value="165">h-河源</option>
                            <option value="166">h-贺州</option>
                            <option value="167">h-黑河</option>
                            <option value="169">h-霍邱</option>
                            <option value="410">h-合川</option>
                            <option value="421">h-淮南</option>
                            <option value="32">j-济南</option>
                            <option value="46">j-嘉兴</option>
                            <option value="47">j-济宁</option>
                            <option value="49">j-金华</option>
                            <option value="170">j-江门</option>
                            <option value="171">j-吉林</option>
                            <option value="172">j-揭阳</option>
                            <option value="173">j-九江</option>
                            <option value="174">j-焦作</option>
                            <option value="175">j-晋城</option>
                            <option value="176">j-荆州</option>
                            <option value="177">j-佳木斯</option>
                            <option value="178">j-鸡西</option>
                            <option value="179">j-吉安</option>
                            <option value="181">j-晋中</option>
                            <option value="182">j-锦州</option>
                            <option value="183">j-景德镇</option>
                            <option value="184">j-荆门</option>
                            <option value="185">j-嘉峪关</option>
                            <option value="186">j-酒泉</option>
                            <option value="187">j-济源</option>
                            <option value="409">j-江津</option>
                            <option value="24">k-昆明</option>
                            <option value="36">k-昆山</option>
                            <option value="188">k-克拉玛依</option>
                            <option value="189">k-库尔勒</option>
                            <option value="190">k-开封</option>
                            <option value="402">k-开县</option>
                            <option value="422">k-凯里</option>
                            <option value="25">l-兰州</option>
                            <option value="50">l-洛阳</option>
                            <option value="51">l-柳州</option>
                            <option value="56">l-廊坊</option>
                            <option value="60">l-连云港</option>
                            <option value="193">l-临沂</option>
                            <option value="194">l-聊城</option>
                            <option value="195">l-吕梁</option>
                            <option value="196">l-乐山</option>
                            <option value="197">l-辽阳</option>
                            <option value="198">l-辽源</option>
                            <option value="199">l-拉萨</option>
                            <option value="200">l-临汾</option>
                            <option value="201">l-龙岩</option>
                            <option value="202">l-临夏</option>
                            <option value="203">l-漯河</option>
                            <option value="204">l-泸州</option>
                            <option value="205">l-丽水</option>
                            <option value="206">l-丽江</option>
                            <option value="207">l-六安</option>
                            <option value="208">l-莱芜</option>
                            <option value="209">l-临沧</option>
                            <option value="210">l-林芝</option>
                            <option value="211">l-凉山</option>
                            <option value="212">l-娄底</option>
                            <option value="213">l-陇南</option>
                            <option value="214">l-来宾</option>
                            <option value="215">l-六盘水</option>
                            <option value="396">l-梁平</option>
                            <option value="419">l-利川</option>
                            <option value="39">m-绵阳</option>
                            <option value="216">m-茂名</option>
                            <option value="217">m-马鞍山</option>
                            <option value="218">m-牡丹江</option>
                            <option value="219">m-明港</option>
                            <option value="220">m-梅州</option>
                            <option value="221">m-眉山</option>
                            <option value="420">m-麻城</option>
                            <option value="15">n-南京</option>
                            <option value="20">n-宁波</option>
                            <option value="23">n-南昌</option>
                            <option value="28">n-南宁</option>
                            <option value="38">n-南充</option>
                            <option value="41">n-南通</option>
                            <option value="58">n-南阳</option>
                            <option value="222">n-内江</option>
                            <option value="223">n-宁德</option>
                            <option value="224">n-怒江</option>
                            <option value="225">n-那曲</option>
                            <option value="226">n-南平</option>
                            <option value="412">n-南川</option>
                            <option value="227">p-平顶山</option>
                            <option value="228">p-盘锦</option>
                            <option value="229">p-萍乡</option>
                            <option value="230">p-平凉</option>
                            <option value="231">p-濮阳</option>
                            <option value="232">p-攀枝花</option>
                            <option value="233">p-莆田</option>
                            <option value="234">p-普洱</option>
                            <option value="416">p-彭水</option>
                            <option value="35">q-青岛</option>
                            <option value="52">q-泉州</option>
                            <option value="235">q-秦皇岛</option>
                            <option value="236">q-齐齐哈尔</option>
                            <option value="237">q-衢州</option>
                            <option value="238">q-清远</option>
                            <option value="239">q-钦州</option>
                            <option value="240">q-曲靖</option>
                            <option value="242">q-庆阳</option>
                            <option value="243">q-黔南</option>
                            <option value="245">q-七台河</option>
                            <option value="246">q-潜江</option>
                            <option value="391">q-綦江</option>
                            <option value="407">q-黔江</option>
                            <option value="248">r-日照</option>
                            <option value="390">r-荣昌</option>
                            <option value="417">r-仁寿</option>
                            <option value="4">s-上海</option>
                            <option value="5">s-苏州</option>
                            <option value="16">s-沈阳</option>
                            <option value="19">s-石家庄</option>
                            <option value="30">s-深圳</option>
                            <option value="59">s-商丘</option>
                            <option value="250">s-汕头</option>
                            <option value="251">s-宿州</option>
                            <option value="252">s-绍兴</option>
                            <option value="253">s-十堰</option>
                            <option value="254">s-三明</option>
                            <option value="255">s-韶关</option>
                            <option value="256">s-沭阳</option>
                            <option value="257">s-宿迁</option>
                            <option value="259">s-邵阳</option>
                            <option value="260">s-三亚</option>
                            <option value="261">s-顺德</option>
                            <option value="262">s-松原</option>
                            <option value="263">s-三门峡</option>
                            <option value="264">s-汕尾</option>
                            <option value="265">s-随州</option>
                            <option value="266">s-石河子</option>
                            <option value="267">s-山南</option>
                            <option value="268">s-遂宁</option>
                            <option value="269">s-商洛</option>
                            <option value="270">s-朔州</option>
                            <option value="272">s-上饶</option>
                            <option value="273">s-四平</option>
                            <option value="413">s-石柱</option>
                            <option value="13">t-天津</option>
                            <option value="31">t-唐山</option>
                            <option value="43">t-太原</option>
                            <option value="63">t-台州</option>
                            <option value="276">t-泰安</option>
                            <option value="277">t-泰州</option>
                            <option value="279">t-铁岭</option>
                            <option value="280">t-天水</option>
                            <option value="281">t-吐鲁番</option>
                            <option value="283">t-铜川</option>
                            <option value="284">t-通辽</option>
                            <option value="285">t-通化</option>
                            <option value="286">t-铜陵</option>
                            <option value="287">t-铜仁</option>
                            <option value="288">t-天门</option>
                            <option value="289">t-台山</option>
                            <option value="290">t-桐城</option>
                            <option value="392">t-潼南</option>
                            <option value="393">t-铜梁</option>
                            <option value="10">w-武汉</option>
                            <option value="27">w-无锡</option>
                            <option value="37">w-乌鲁木齐</option>
                            <option value="53">w-潍坊</option>
                            <option value="54">w-温州</option>
                            <option value="291">w-威海</option>
                            <option value="292">w-芜湖</option>
                            <option value="293">w-梧州</option>
                            <option value="295">w-渭南</option>
                            <option value="296">w-文山</option>
                            <option value="297">w-乌海</option>
                            <option value="298">w-五家渠</option>
                            <option value="299">w-吴忠</option>
                            <option value="300">w-乌兰察布</option>
                            <option value="301">w-武威</option>
                            <option value="302">w-五指山</option>
                            <option value="303">w-武夷山</option>
                            <option value="377">w-万州</option>
                            <option value="400">w-武隆</option>
                            <option value="405">w-巫山</option>
                            <option value="406">w-巫溪</option>
                            <option value="418">w-温江</option>
                            <option value="12">x-厦门</option>
                            <option value="14">x-西安</option>
                            <option value="57">x-新乡</option>
                            <option value="304">x-徐州</option>
                            <option value="305">x-湘潭</option>
                            <option value="307">x-邢台</option>
                            <option value="308">x-孝感</option>
                            <option value="309">x-西宁</option>
                            <option value="310">x-许昌</option>
                            <option value="312">x-忻州</option>
                            <option value="313">x-宣城</option>
                            <option value="314">x-西双版纳</option>
                            <option value="316">x-咸阳</option>
                            <option value="317">x-信阳</option>
                            <option value="319">x-新余</option>
                            <option value="320">x-湘西</option>
                            <option value="321">x-仙桃</option>
                            <option value="322">x-咸宁</option>
                            <option value="376">x-襄阳</option>
                            <option value="414">x-秀山</option>
                            <option value="423">x-新干县</option>
                            <option value="42">y-扬州</option>
                            <option value="55">y-烟台</option>
                            <option value="323">y-延安</option>
                            <option value="324">y-宜昌</option>
                            <option value="325">y-盐城</option>
                            <option value="326">y-岳阳</option>
                            <option value="327">y-银川</option>
                            <option value="328">y-延边</option>
                            <option value="329">y-鹰潭</option>
                            <option value="330">y-玉溪</option>
                            <option value="331">y-运城</option>
                            <option value="332">y-宜春</option>
                            <option value="333">y-营口</option>
                            <option value="334">y-榆林</option>
                            <option value="335">y-宜宾</option>
                            <option value="336">y-永州</option>
                            <option value="337">y-阳江</option>
                            <option value="338">y-阳春</option>
                            <option value="339">y-阳泉</option>
                            <option value="340">y-禹州</option>
                            <option value="341">y-鄢陵</option>
                            <option value="342">y-玉林</option>
                            <option value="343">y-伊犁</option>
                            <option value="344">y-雅安</option>
                            <option value="346">y-益阳</option>
                            <option value="347">y-云浮</option>
                            <option value="348">y-伊春</option>
                            <option value="350">y-义乌</option>
                            <option value="403">y-云阳</option>
                            <option value="411">y-永川</option>
                            <option value="415">y-酉阳</option>
                            <option value="22">z-郑州</option>
                            <option value="40">z-珠海</option>
                            <option value="351">z-张家口</option>
                            <option value="352">z-中山</option>
                            <option value="353">z-淄博</option>
                            <option value="354">z-株洲</option>
                            <option value="355">z-漳州</option>
                            <option value="356">z-湛江</option>
                            <option value="357">z-肇庆</option>
                            <option value="358">z-枣庄</option>
                            <option value="359">z-镇江</option>
                            <option value="360">z-周口</option>
                            <option value="363">z-自贡</option>
                            <option value="364">z-张家界</option>
                            <option value="365">z-资阳</option>
                            <option value="366">z-遵义</option>
                            <option value="367">z-舟山</option>
                            <option value="368">z-章丘</option>
                            <option value="369">z-赵县</option>
                            <option value="370">z-诸城</option>
                            <option value="371">z-昭通</option>
                            <option value="372">z-中卫</option>
                            <option value="373">z-张掖</option>
                            <option value="374">z-张北</option>
                            <option value="375">z-庄河</option>
                            <option value="379">z-张家港</option>
                            <option value="380">z-驻马店</option>
                            <option value="401">z-忠县</option>

                        </select>
                        <button id="BtnOk" class="btn btn-primary" type="button" style="margin-left: 8px;"><span class="zk-text">查询</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/Module/Test/Notice.js"></script>