@{ Layout = null;}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <button id="BtnAlert" class="btn btn-primary">信息框</button>
            <button id="BtnConfirm" class="btn btn-primary">询问框</button>
            <button id="BtnMessage" class="btn btn-primary">消息框 Message，可自动关闭</button>
            <button id="BtnPopup" class="btn btn-primary">弹出提示框 Popup</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input id="TxtSearchStartTime" class="form-control zk-txt-datetimepicker zk-txt-datetimepicker-date" type="text" />
                        <div class="input-group-append">
                            <span class="input-group-text">至</span>
                        </div>
                        <input id="TxtSearchEndTime" class="form-control zk-txt-datetimepicker" type="text" />
                    </div>
                    <button id="BtnSearch" class="btn btn-primary" type="button" style="margin-left: 8px;"><span class="zk-text">查询</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/Module/Test/Notice.js?t=@DateTime.Now.ToBinary()"></script>