@{ Layout = null;}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <button id="BtnAlert" class="btn btn-primary">信息框</button>
            <button id="BtnConfirm" class="btn btn-primary">询问框</button>
            <button id="BtnMessage" class="btn btn-primary">消息框 Message，可自动关闭</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/Module/Test/Notice.js?t=@DateTime.Now.ToBinary()"></script>