@{ Layout = null;}<!DOCTYPE html>
<html id="ZkHtmlTag">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>框架首页</title>
    @*Bootstrap样式*@
    <link rel="stylesheet" type="text/css" href="~/Content/Plugin/bootstrap/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Plugin/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Plugin/bootstrap/css/bootstrap-grid.min.css" />
    @*时间选择控件样式*@
    <link rel="stylesheet" type="text/css" href="~/Content/Plugin/DateTimePicker/bootstrap-datetimepicker.min.css" />
    @*主框架样式*@
    <link rel="stylesheet" type="text/css" href="~/Content/Framework/css/Framework.css" />
    @*自定义图标样式*@
    <link rel="stylesheet" type="text/css" href="~/Content/Framework/css/Icon.css" />
    @*Jquery脚本*@
    <script type="text/javascript" src="~/Content/Plugin/jquery/jquery-3.3.1.min.js"></script>
    @*Bootstrap脚本*@
    <script type="text/javascript" src="~/Content/Plugin/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugin/bootstrap/js/bootstrap.bundle.min.js"></script>
    @*主框架脚本*@
    <script type="text/javascript" src="~/Content/Framework/js/Framework.js"></script>
    @*时间选择控件脚本*@
    <script type="text/javascript" src="~/Content/Plugin/DateTimePicker/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="~/Content/Plugin/DateTimePicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
</head>
<body id="ZkBodyTag">
    <div id="ZkWrapper">
        <div id="ZkHeaderWrapper">
            <div id="ZkHeaderTitle"><span class="zk-text">装酷网多业务管理平台</span></div>
            <div id="ZkHeaderOption">
                <i id="ZkHeaderOptionToggleMainMenu" class="zk-icon zk-icon-24-menu" title="切换左侧菜单栏"></i>
                <i id="ZkHeaderOptionRefreshActiveTabMenuItem" class="zk-icon zk-icon-24-refresh" title="刷新当前标签页"></i>
            </div>
        </div>
        <div id="ZkBodyWrapper">
            <div id="ZkMainMenuWrapper"></div>
            <div id="ZkContentWrapper"></div>
        </div>
    </div>
    <div id="ZkLoadingWrapper">
        <div id="ZkLoadingBg"></div>
        <div id="ZkLoadingPanel">
            <div class="zk-icon-loading" style="margin-right: 8px;"><i></i></div>
            <span class="zk-text">业务数据加载中，请稍候...</span>
        </div>
    </div>
    <script type="text/javascript" src="~/Scripts/Module/Framework/Index.js"></script>
</body>
</html>