<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <add name="SqlServer" connectionString="Data Source=.;database=Zhuangku.IDS;integrated Security =true;" />
        <!--<add name="SqlServer" connectionString="data source=192.168.1.128;initial catalog=zhcoocom;persist security info=True;user id=sa;password=123456;multipleactiveresultsets=True;application name=EntityFramework" />-->
    </connectionStrings>
    <appSettings>
        <add key="SqlType" value="SqlServerEngine" />
        <add key="OutputDir" value="C:\Model\" />
        <add key="UsingRegion" value="using System;&#xA;" />
        <add key="ContextUsingRegion" value="using System;&#xA;using Microsoft.EntityFrameworkCore;&#xA;using Microsoft.EntityFrameworkCore.Metadata;&#xA;&#xA;" />
        <add key="ContextFilename" value="Zhuangku" />
        <add key="Namespace" value="Zhuangku.Zhcoo.Domain.Model" />
    </appSettings>
</configuration>