@{
                /**/

                Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户登陆</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Plugin/bootstrap/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Plugin/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Plugin/bootstrap/css/bootstrap-grid.min.css" />
    <script type="text/javascript" src="~/Content/Plugin/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugin/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/Plugin/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div id="PanelLogin">
        <form>
            <label>用户名：</label><input id="Username" name="Username" type="text" /><br />
            <label>密码：</label><input id="Password" name="Password" type="password" /><br />
            <button id="BtnLogin" type="button" class="btn btn-primary">登陆</button>
        </form>
    </div>
    <script type="text/javascript" src="~/Scripts/Module/Login/Index.js"></script>
</body>
</html>